.btn {
    text-decoration: none;
    color: $color-primary;
    font-size: 1.59rem;
    text-transform: uppercase;
    font-weight: 400;
    border: 2px solid $color-primary;
    border-radius: 10rem;
    padding: 1rem 2.95rem;

    transition: all 0.3s;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &:hover,
    &:active {
        background-color: $color-primary;
        color: $color-white;
    }
}

.btn-primary {
    color: $color-white;
    background-color: $color-primary;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 7px;
    text-decoration: none;
}